body {
  color: #1d7cff;
}

.Pokemon__list {
  color: black;
  text-align: center;
}

header {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.pokemon__logo {
  position: relative;
  text-align: center;
  width: 140px;
  height: 72px;
  text-align: center;
  margin: auto;
}

/* This creates a button class so the JS list can be styled */
.button-class {
  align-items: center;
  padding: 16px 32px;
  color: #1d7cff;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-style: solid;
  border-color: #1d7cff;
  border-radius: 5px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  text-align: center;
}